<section class="channelEditorContainer fullHeight">
  <!-- <section class="heading">Channel Workflow Editor</section> -->
  <section class="content">
    <span class="channelNameLabel">Channel Name: </span>
    <input
      class="channelName"
      [readonly]="!systemConfig.Channels[channelName].$new"
      [(ngModel)]="_channelName"
      (blur)="_updateChannelName()" >

    <div
      class="stepConfigContainer"
      *ngFor="let step of systemConfig.Channels[channelName].StepsSequence; let i = index; let last = last;">

      <div
        title="Add Step"
        class="separator icon next"
        [ngClass]="{drop: dragging && dragStageDropIndex === i}"
        (click)="addStep(i)"
        (drop)="dropStage($event, i)"
        (dragenter)="dragoverStage($event, i, true)"
        (dragleave)="dragoverStage($event, i)">
        <span class="insert">INSERT STEP</span>
        <span class="move">MOVE STAGE HERE</span>
      </div>

      <app-step-editor
        [index]="i"
        [stepConfig]="step"
        [channelName]="channelName"
        [systemConfig]="systemConfig"
        [pluginsConfig]="pluginsConfig"
        [deleteStep]="deleteStep"
        [dragStage]="dragStage"
        [dropEnd]="dropEnd"
        [getDupStepConfig]="getDupStepConfig"></app-step-editor>
    </div>
    <div
      title="Add Step"
      class="paddingBtm20 separator icon next"
      [ngClass]="{drop: dragging && dragStageDropIndex === i}"
      (click)="addStep()"
      (drop)="dropStage($event, i)"
      (dragover)="dragoverStage($event, i)">
      <span class="insert">INSERT STEP</span>
      <span class="move">MOVE STAGE HERE</span>
    </div>
  </section>
</section>