<section class="channelsPage pageComponent">
  <section class="channelsListContainer fullHeight">
    <ng-container *ngIf="channelService.channelsConfig.Channels">
      <div
        class="channelList"
        [ngClass]="{selected: channel === selectedChannel, new: channelService.channelsConfig.Channels[channel].$new, modified: channelService.channelsConfig.Channels[channel].$modified}"
        *ngFor="let channel of channelService.channelsConfig.Channels | ObjNgFor:true:false"
        (click)="selectChannel(channel)">
        {{channel}}
      </div>
    </ng-container>
    <div
      class="channelList icon add"
      (click)="addChannel()">Add Channel</div>
  </section>

  <section class="channelEditorContainer fullHeight">
    <ng-container *ngIf="selectedChannel">
      <section class="channelEditor">
        <app-channel-editor
          [channelName]="selectedChannel"
          [updateChannelName]="updateChannelName"
          [systemConfig]="channelService.channelsConfig"
          [pluginsConfig]="channelService.pluginsConfig"></app-channel-editor>
      </section>

      <section class="btnContainer">
        <button
          class="btn"
          (click)="saveChannel()"
          [disabled]="!channelService.channelsConfig.Channels[selectedChannel].$modified">SAVE CHANGES</button>
        <button
          class="btn"
          (click)="revertChanges()"
          [disabled]="channelService.channelsConfig.Channels[selectedChannel].$new || !channelService.channelsConfig.Channels[selectedChannel].$modified">REVERT ALL CHANGES</button>
      </section>
    </ng-container>
  </section>

  <section class="clearfix"></section>
</section>